body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


.is-white-text{
  color:#fff;
}

/* ==========================================================================
  NAVIGATION PAGE
   ========================================================================== */

.hero.is-primary a.nav-item, .hero.is-primary .nav-item a:not(.button) {
    color: #fff;
}

.nav-item a.is-active, a.nav-item.is-active {
    color: #089CB6;
}

/* ==========================================================================
  HERO PAGE
   ========================================================================== */

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.39)),url('https://hd.unsplash.com/photo-1464014067366-e69d8b432b8a');
  background-position: center;
  background-size: cover;
}
.is-outlined {
  background-color:transparent;
  color:#fff;
}
.hero-cta {
  padding: 30px 0;
}
.panel-block.section p {
  font-size: 17px;
  line-height: 1.4;
  color:#95A5A6;
}
.section.main {
  background-color:#FFF;
}
.icon-block {
  font-size:5em;
}
.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #089CB6;
    color: #089CB6;
}

/* ==========================================================================
  HERO
   ========================================================================== */
footer{
  text-decoration: none;
}

.content a:not(.button) {
    border-bottom: none;
}

.hero.is-primary {
    background-color: #089CB6;
    color: white;
}


.bg-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.39)),url('../img/headers/contact-header.jpg');
}

.bg-creations {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.39)),url('../img/headers/our-work-header.jpg');
}

.bg-support {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.39)),url('../img/headers/support-header.jpg');
}

.bg-services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.39)),url('../img/headers/services-header.jpg');
}

.bg-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.39)),url('../img/headers/about-header.jpg');
}

.bg-privacy {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.39)),url('../img/headers/privacy-header.jpg');
}

.bg-terms {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.39)),url('../img/headers/terms-header.jpg');
}
.bg-404 {
    background-color: #089CB6;
}

/* ==========================================================================
  Our Creations
   ========================================================================== */


.profile-heading .followers, .profile-heading .following {
    border-right: 1px solid #f1f1f1;
    margin: -30px 0;
    padding: 70px 30px;
}

a{
  color: #26A69A;
}

.color-grey{
  color: #69707a;
}

.hero.is-primary{
  background-color: #26A69A;
}

.button.is-primary{
  background-color: #26A69A;    
  border-color: #fff;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .hero.is-primary .nav-menu {
    background-color: #26A69A;
  }
}

.nav-item a.is-tab.is-active,
a.nav-item.is-tab.is-active {
  border-bottom: 3px solid #26A69A;
  border-top: 3px solid transparent;
  color: #26A69A;
}

.nav-item a.is-tab:hover,
a.nav-item.is-tab:hover {
  border-bottom: 1px solid #26A69A;
  border-top: 1px solid transparent;
}

.dropdown {
  box-shadow: 0 0 8px #777;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}

.dropdown.is-open {
  display: block;
}

.pointer{
  cursor: pointer;
}

.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.39)),url(../img/index-hero.jpeg);
    background-size: cover;
    background-position: center;
}







